body {
  font-family: Arial, sans-serif;
}

.container {
  width: 600px;
  margin: auto;
}

form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.list-container {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 45%;
}

li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  cursor: move;
  border-radius: 8px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}
