*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-hsl: 38, 100%, 91%;
  --primary-light-hsl: 38, 100%, 50%;
  --primary-dark-hsl: 38, 100%, 6%;
  --success-hsl: 100, 60%, 50%;
  --error-hsl: 0, 60%, 50%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}

.full-screen-container {
  background-image: url("img/bballcourt.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
}

.container {
  --color: hsl(var(--primary-dark-hsl), .7);
  background-color: var(--color);
  width: 600px;
  margin: auto;
}

form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.list-container {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 45%;
}

li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
  cursor: move;
  border-radius: 8px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}
